.admin-logo{
    margin-left: 10px;
    margin-top: 5px;
}

.admin-logo-responsive{
    margin-left: 4px;
    margin-top: 9px;
}

.status-btn{
    margin-top:7px;
}

.cart-items{
    padding:5px !important;
}