.admin-logo{
    margin-left: 10px;
    margin-top: 5px;
    color:white;
}

.admin-logo-responsive{
    margin-left: 4px;
    margin-top: 9px;
}

.status-btn{
    margin-top:7px;
}

.cart-items{
    padding:5px !important;
}

.file-chooser{
    padding:0px 15px 0px 15px !important;
}

.image_part{
    max-height:300px;
    max-width:250px;
}