.or-span{
    padding-left:10px;
    padding-right:10px;
}

.table-cart td {
    vertical-align: inherit!important;
}

.table-cart tr {
    border-bottom: 1px solid #606ddd2e!important;
}

.edit-button {
    background-color:white;
}