.nav-logo {
    width: 120px;
}

.side-m{
    margin-right: .8rem
}

.pl-none{
    padding-left:0px!important;
}

.part-img{
    padding:5px;
}

.price-cartitem{
    margin-left: 0rem!important;
    color: #adb5bd;
    font-family: 'Roboto Condensed',sans-serif;
}